
body{
  background-color: rgba(175, 221, 229,0.5) ;
}

.stuff{
  width: 100%;
  height: 600px;
}
.stuff img{
  width: 100%;
  height: 600px;

}
.memberships h1{
  text-align: center;
  margin-top: 40px;
}


.platinium{
  /* margin-left: 500px; */
  margin-right: 10px;
  height: 270px;
  width: 250px;
  background-color: #003135;
  border-radius: 7px;
  box-shadow: 10px 10px 10px -10px rgb(0, 0, 0);
}
.platinium p{
  color: #AFDDE5;
  margin-left: 15px;
  /* margin-bottom: -2px; */
  /* padding-bottom: -10px; */

}
.platinium h6{
  margin-top: 10px;
 font-size: 25px;
  color: #AFDDE5;
  margin-left: 15px;
}
.platinium a{
  margin-left: 15px;
  color: #0FA4AF;

}
.price p{
  /* -webkit-text-stroke-color: #AFDDE5;
  -webkit-text-stroke-width: 1px; */
  /* border: 1px solid #AFDDE5; */
    color: #0FA4AF;
  display: inline-block;
  /* padding: -2px; */
 margin-right:-20px;
 font-size: 12px;
}
#naira{
  font-size: 20px;
    color: #0FA4AF;
}
.platinium button{
  width: 90px;
  background-image: linear-gradient(#0FA4AF,#024950);
  box-shadow: 10px 10px 10px -10px  black;
  border: none;
  border-radius: 5px;
}


.standard{
  margin-left: 10px;
  /* margin-right: 500px; */
  position: relative;
  float: right;
  height: 270px;
  width: 250px;
  background-color: #0FA4AF;
  border-radius: 7px;
  box-shadow: 10px 10px 10px -10px rgb(0, 0, 0);
}
.standard p{
  color: #003135;
  margin-left: 15px;
  /* margin-bottom: -2px; */
  /* padding-bottom: -10px; */

}
.standard h6{
  margin-top: 10px;
 font-size: 25px;
  color: #003135;
  margin-left: 15px;
}
.standard a{
  margin-left: 15px;
  /* color: #003135; */
  color: #AFDDE5;

}
.price2 p{
  /* -webkit-text-stroke-color: #AFDDE5;
  -webkit-text-stroke-width: 1px; */
  /* border: 1px solid #AFDDE5; */
  color: #AFDDE5;
    /* color: #003135; */
  display: inline-block;
  /* padding: -2px; */
 margin-right:-20px;
 font-size: 12px;
}
#naira2{
  font-size: 20px;
    /* color: #003135; */
    color: #AFDDE5;
}

.standard button{
  width: 90px;
  box-shadow: 10px 10px 10px -10px  black;
  /* background-image: linear-gradient(#0FA4AF,#024950); */
  background-image: linear-gradient(#0FA4AF,#AFDDE5);
  border: none;
  border-radius: 5px;
  color: #09838c;
}

.plans{
  margin:auto;
  width: 500px;
  display: flex;
  margin-top: 50px;
}

.plan_description{
  padding-top: 70px;
  font-size: 14px;
  margin:auto;
  width: 500px;
}
.benefits{
  margin-top: 100px;
  background-color: rgb(15, 164, 175,0.5);
}
/* .first_benefit img{
  width: 600px;
  height: 300px;
}
.first_benefit{
  margin: auto;
  display: flex;
  width: 100%;
padding-top: 100px;
} */

.perks_exp1{
  width: 500px;
  float: right;
  margin-left:100px;
}
.first_benefit img{
  float: left;
}

.benefits_desciption img{
  width: 600px;
  height: 300px;
}
.benefits_desciption{
  margin: auto;
  display: flex;
  width: 100%;
padding-top: 100px;
}
.benefits_desciption a{
  color: #AFDDE5;

}
.second_benefit{
  display: flex;
  /* width: 100%; */
}
.second_benefit img{
  margin-left: auto;
  margin-right: 0;
  /* float: right;
  padding-right: -100%; */
  /* position: relative; */
  /* margin-left: 200px; */



}

.perks_exp2{
  width: 500px;
/* text-align: right; */
  float: left;
  /* margin-right: -100%; */
  margin-right:100px;
}
.fourth_benefit img{
  margin-left: auto;
  margin-right: 0;

}
.fifth_benefit{
 padding-bottom: 100px;

}


