*{
  margin: 0;
  padding: 0;
}
body{
background-color: rgb(175, 221, 229,0.5);
}
/* #gender{
  display: none;

} */

.form_box{
  width: 570px;
  margin: auto;
}
.note_checkbox{
  display: inline-flex;
}
#jjj{
  margin-top: -16px;
}
input[type="checkbox"]{
  transform: scale(1.5);
  margin-right: 40px;
}
input[type="checkbox"]:checked{
  accent-color: #0FA4AF;
}


.note_checkbox input[type="checkbox"]{
  margin-top: 9px;
  margin-bottom: auto;

}
input,select{
  height: 60px;
}

input:hover ,select:hover{
border: solid 1px #0FA4AF;
}
input[type="date"]::-webkit-calender-picker-indicator{
color: red;
opacity: 0.5;
}
.form-control,.form-select{
background: rgba(175, 221, 229,0.4);
border: none;

}
input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="date"]:focus{
  background: rgba(175, 221, 229,0.4);
}
input:-webkit-autofill,
input:-webkit-autofill:focus
{
  transition: background-color 600000s 0s, color 600000s 0s ;

}

fieldset{
  margin-top: 20px;
  margin-bottom: 20px;
}
.details{
  margin-top: 20px;
}
.Address_Branch{
  margin-top: 90px;
}
#dim{
  /* opacity: 0.5; */
  font-weight: 100;
}
.custom-opacity {
  opacity: 0.5; /* Adjust opacity as needed */
}
.custom-opacity:disabled {
  opacity: 0.5; /* Ensure opacity is consistent when disabled */
}
option{
padding-left: 600px;
}









.set_password{
  border-radius: 13px;
  /* width: 100%; */
  width: fit-content;
  /* margin: auto; */
  padding-left: 100px;
  padding-right: 100px;
  background-color: #003135;
  opacity: 0;
  /* display: none; */
   margin-left: 30px;
  position:fixed;
 margin-top: -1000px;
}
.set_password.open{
  /* display: block; */
  opacity: 1;
  z-index: 999;
}
/* .blur{
  filter: blur(2px);
} */
.set_password h5{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #AFDDE5;
}
  .login_box{
    padding-top: 30px;
    padding-bottom: 30px;
    width: fit-content;
    margin: auto;
    text-align: center;
  }
  /* .login_box h5{
    margin: auto;
    font-size: 20px;
    margin-bottom: 8px;
    width:fit-content;

  } */
  .logo{
    margin: auto;
    width:100px;
  }
  .logo img{
    margin: auto;
    width:100px;
  }
  .set_password input{
    height: 40px;
    width: 300px;
    background: none ;
    margin-bottom: 30px;
    border: solid 1px #0FA4AF ;
    border-radius: 15px;
   }

  .login_box form a{
    width: fit-content;
    color: #0FA4AF;
    text-decoration: none;
    margin-left: 180px;


   }
   input::placeholder{
    color: #AFDDE5;
    padding-left: 20px;
    font-size: 15px;
   }

  #signin_button{
    box-shadow: 10px 10px 17px -12px  black;
    /* width: 150px; */
    width: 100%;
    height: 40px;
    display: block;
    margin: auto;
    background-color: #0FA4AF;
    border: none;
    border-radius: 15px;
    color: #ffffff;

   }


   button[type="submit"]:hover {
    background-color: #076a71 !important;
  }

