body{
background-color: rgb(175, 221, 229,0.5);
}
.login_box{
  padding-top: 50px;
  width: fit-content;
  margin: auto;
  text-align: center;
}
.login_box h5{
  margin: auto;
  font-size: 20px;
  margin-bottom: 8px;
  width:fit-content;

}
.logo{
  margin: auto;
  width:250px;
}
.logo img{
  margin: auto;
  width:250px;
}
 input{
  height: 40px;
  width: 300px;
  background: none ;
  margin-bottom: 30px;
  border: solid 1px #0FA4AF ;
  border-radius: 15px;
 }

 form a{
  color: #0FA4AF;
  text-decoration: none;
  margin-left: 180px;


 }
 input::placeholder{
  color: rgba(0, 0, 0,0.5);
  padding-left: 20px;
  font-size: 15px;
 }

#signin_button{
  box-shadow: 10px 10px 17px -12px  black;
  width: 150px;
  height: 40px;
  display: block;
  margin: auto;
margin-bottom: 10px;
  background-color: #0FA4AF;
  border: none;
  border-radius: 15px;
  color: #ffffff;

 }
 .no_acc a{
  color: #0FA4AF;
 }
 .no_acc p{
  text-align: center;
  display: inline-block;
 }
 ul{
  padding: 0;
  text-decoration: none;
  margin: auto;
 }
 li{
  text-decoration: none;
  color: rgba(0, 0, 0,0.5);
  display: inline-block;
   padding: 10px;
 }
 button[type="submit"]:hover {
  background-color: #076a71 !important;
}


