<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="/mystaticfiles/fontawesome-free-6.6.0-web/css/all.css">
  <link rel="stylesheet" href="/mystaticfiles/footer.css">
  <link rel="stylesheet" href="/mystaticfiles/joinus_nav.css">
  <link rel="stylesheet" href="/mystaticfiles/joinus_personaldetails.css">
</head>

<body>
  <main class="container">
    <div class=" mm">
      <div class="row top">
        <div class="col oo">
          <div class="num">
            <p>1</p>
          </div>
          <li>plan duration</li>
        </div>
        <div class="col line">
          <hr>
        </div>
        <div class="col oo">
          <div class="num set_page_progress">
            <p>2</p>
          </div>
          <li>personal details</li>
        </div>
        <div class="col line">
          <hr>
        </div>
        <div class="col oo">
          <div class="num">
            <p>3</p>
          </div>
          <li>payment</li>
        </div>
        <div class="col line">
          <hr>
        </div>
        <div class="col oo">
          <div class="num">
            <p>4</p>
          </div>
          <li>checkout</li>
        </div>
      </div>
    </div>
    <div class="container-fluid form_box">
      <h3>Enter your personal info</h3>
      <h5>Tell us a little bit about yourself to get started.</h5>
      <form class="needs-validation" action="" novalidate>
        <div class="details">
          <p>Personal Details</p>

          <fieldset>
            <input class="form-control " type="text" placeholder="First name" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
          <fieldset>
            <input class="form-control" type="text" placeholder="Last name" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
          <fieldset>
            <input class="form-control" type="text" placeholder="Date of birth" onfocus="this.type='date'" onblur="this.type='text'" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
          <fieldset>
            <input class="form-control" type="number" placeholder="phone number" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
          <fieldset>
            <input class="form-control" type="email" placeholder="Email" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
            <select class="form-select"  required>
              <option selected hidden disabled id="gender">gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>

            </select>
            <div class="invalid-feedback">
              This field is required
            </div>


        </div>
        <div class="Address_Branch">
          <p>Address/Branch</p>
          <fieldset>
            <input class="form-control" type="text" placeholder="Address line" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
          <fieldset>
            <input class="form-control" type="text" placeholder="City" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>

          <p id="dim">input the state you are currently located at</p>
          <fieldset>
            <input class="form-control" type="text" placeholder="state" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>


        </div>

        <p id="dim">Note that the state that you inputed will be used as the branch of the gym</p>
        <div class="note_checkbox">
          <input id="jjj" type="checkbox" checked>
          <p>To stay updated on your membership, branch news, and special offers at Revive Fitness, please check the box
            beside this text to opt in for occasional emails and notifications. This will ensure you receive the latest
            updates directly in your inbox.</p>

        </div>


          <div class="row buttom_nav">
            <div class="col-5">
              <a href=""><button id="exit">exit</button></a>
            </div>
          <div class="col-2"></div>
          <div class="col-5">
            <a href="setpassword.html"><button id="next">next</button></a>
          </div>

        </div>
      </form>
    </div>


  </main>










  <footer class="footer">
    <div class="container-fluid">
      <div class="container">
        <div class="row footer_top">
          <div class="col-4">
            <div class="footer_logo">
              <img src="/mystaticfiles/Mask group3.png" alt="Footer Logo">
            </div>
            <div class="footer_notess">
              <p>"Revive Fitness - Empowering Your Fitness Journey Across Nigeria. Join us in Lagos and beyond to achieve strength, health, and wellness with our state-of-the-art facilities and expert trainers. Let's revitalize your lifestyle together. © 2024 Revive Fitness. All rights reserved."</p>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="col-2 site_mapss">
            <h5>Site map</h5>
            <p>Home</p>
            <p>Membership</p>
            <p>Classes</p>
            <p>Contact us</p>
            <p>About us</p>
          </div>
          <div class="col-2 open_hourss">
            <h5>Open hours</h5>
            <p>Monday-Friday 5AM-10PM</p>
            <p>Saturday 7AM-8PM</p>
            <p id="closed">Closed Jan 1, Dec 25 & 26</p>
          </div>
        </div>

        <div class="row policy">
          <div class="col-7">
            <p>© 2024 I-FITNESS CENTRE LTD. ALL RIGHTS RESERVED.|</p>
            <p>Support|</p>
            <p>Privacy policy|</p>
            <p>Terms of use</p>
          </div>
          <div class="col-3"></div>
          <div class="col-2">
            <div class="social_icons">
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-square-x-twitter"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-square-github"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- <script src="/mystaticfiles/popup.js"></script> -->
  <script>
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
  </script>
  <script src="https://kit.fontawesome.com/0566afcd79.js" crossorigin="anonymous"></script>

</body>

</html>
