<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/0566afcd79.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/mystaticfiles/fontawesome-free-6.6.0-web/css/all.css">
  <link rel="stylesheet" href="/mystaticfiles/nav.css">
  <link rel="stylesheet" href="/mystaticfiles/footer.css">
  <link rel="stylesheet" href="/mystaticfiles/membership.css">
</head>

<body>

  <nav>
    <div class="container">
      <div class="nav_links">
        <a href="#">
          <li onclick=showSidebar()> <i class="fa-solid fa-bars" id="btn"></i></li>
        </a>
        <a href="#">
          <li onclick=hideSidebar()> <i class="fa-solid fa-xmark" id="cancel"></i></li>
        </a>
        <div class="gym_logo">
          <img src="/mystaticfiles/Mask group3.png" alt="">
        </div>
        <span class="left_nav">
          <a href="/templates/index.html">
            <li class="hide_on_mobile">Home</li>
          </a>
          <a style="color: #AFDDE5;" href="/templates/membership.html">
            <li class="hide_on_mobile">Membership</li>
          </a>
          <a href="abutus.html">
            <li class="hide_on_mobile">About us</li>
          </a>
          <a href="">
            <li class="hide_on_mobile">Classes</li>
          </a>
          <!-- <a href="#">
            <li onclick=showSidebar()> <i class="fa-solid fa-bars" id="btn"></i></li>
          </a> -->
        </span>
        <span class="sidebar hide_on_big">
          <!-- <a href="#">
            <li onclick=hideSidebar()> <i class="fa-solid fa-xmark" id="cancel"></i></li>
          </a> -->
          <a href="index.html">
            <li>Home</li>
          </a>
          <a style="color: #AFDDE5;" href="membership.html">
            <li>Membership</li>
          </a>
          <a href="abutus.html">
            <li>About us</li>
          </a>
          <a href="">
            <li>Classes</li>
          </a>

        </span>
        <!-- <div class="login_join">

    </div> -->
        <span class="login_join">
          <span class="login_style">
            <a href="login.html">
              <p>Login</p>
            </a>
          </span>
          <span class="join_style">
            <a class="join" href="joinus.html">
              <p>Join us</p>
            </a>
          </span>
        </span>

      </div>

    </div>

  </nav>

  <main>
    <div class="container">
      <div class="top_text">
        <h1>MEMEBERSHIPS</h1>
        <h5>Select the right gym membership for you.</h5>
        <p>Explore our membership options tailored to suit your fitness needs, whether you prefer access to top-notch
          facilities with a monthly training class or unlimited nationwide access with personalized training sessions
          and
          unrestricted participation in all classes. Choose the membership that fits your lifestyle and goals and embark
          on
          your fitness journey with us today!</p>

        <h3>MEMBERSHIP BENEFITS</h3>

      </div>


      <table>
        <colgroup>
          <col style="background-color: #024950; ">
          <col style="background-color: #003135;">
          <col style="background-color: #0FA4AF;">
        </colgroup>

        <tr>
          <th></th>
          <th>
            <h5>Platinium</h5>
            <p>Explore our price ranges</p>
            <a href=""> <button id="platinium_button">Sign up</button></a>
          </th>
          <th>
            <h5>Standard</h5>
            <p>Explore our price ranges</p>
            <a href=""> <button id="standard_button">Sign up</button></a>
          </th>

        </tr>

        <tr>
          <td>
            <p>Unlimited Access to Home Club</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td><i class="fa-solid fa-check"></i></td>
        </tr>

        <tr>
          <td>
            <p>Training classees per month</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td><i class="fa-solid fa-check"></i></td>
        </tr>

        <tr>
          <td>
            <p>Unlimited access to training equipment</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td><i class="fa-solid fa-check"></i></td>
        </tr>

        <tr>
          <td>
            <p>Personal trainer</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>Use of any branch nation wide</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>option to choose any training class, at any time</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>50% off all drinks</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td></td>
        </tr>
        <!-- <tr>
      <td>Unlimited access to training equipment</td>
      <td><i class="fa-solid fa-check"></i></td>
    </tr> -->
      </table>

    </div>
  </main>




  <footer class="footer">
    <div class="container-fluid">
      <div class="container">
        <div class="row footer_top">
          <div class="col-4">
            <div class="footer_logo">
              <img src="/mystaticfiles/Mask group3.png" alt="Footer Logo">
            </div>
            <div class="footer_notess">
              <p>"Revive Fitness - Empowering Your Fitness Journey Across Nigeria. Join us in Lagos and beyond to
                achieve strength, health, and wellness with our state-of-the-art facilities and expert trainers. Let's
                revitalize your lifestyle together. © 2024 Revive Fitness. All rights reserved."</p>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="col-2 site_mapss">
            <h5>Site map</h5>
            <p>Home</p>
            <p>Membership</p>
            <p>Classes</p>
            <p>Contact us</p>
            <p>About us</p>
          </div>
          <div class="col-2 open_hourss">
            <h5>Open hours</h5>
            <p>Monday-Friday 5AM-10PM</p>
            <p>Saturday 7AM-8PM</p>
            <p id="closed">Closed Jan 1, Dec 25 & 26</p>
          </div>
        </div>

        <div class="row policy">
          <div class="col-7">
            <p>© 2024 I-FITNESS CENTRE LTD. ALL RIGHTS RESERVED.|</p>
            <p>Support|</p>
            <p>Privacy policy|</p>
            <p>Terms of use</p>
          </div>
          <div class="col-3"></div>
          <div class="col-2">
            <div class="social_icons">
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-square-x-twitter"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-square-github"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="/mystaticfiles/nav.js"></script>
</body>

</html>
