
ul{
  padding-top: 50px;
  padding-bottom: 20px;
  list-style-type: none;
  margin: 0;
}

li{
  list-style-type: none;
  color: #0FA4AF;
  margin-left: 29px;
}
.num p{
   text-align: center;
  color: #0FA4AF;
  font-size: 14px;
}
.num{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: solid 2px #0FA4AF;
  position: absolute;
}
.top{
  padding-top: 40px;
  padding-bottom: 90px;
  white-space: nowrap;

}
.mm{
  width: 700px;
  margin: auto;
}

.line{
  margin-top: -4px;
}
hr{
 opacity: 1;
  width: 100%;
  border: 1.5px solid #0FA4AF ;
}


.buttom_nav{
margin-top: 40px;
margin-bottom:50px ;
}

.buttom_nav button{
  width: 100%;
  height: 45px;
  border-radius: 19px;
  font-size: 20px;
  box-shadow: 10px 10px 13px -13px  black;

}
#exit{
  color: #0FA4AF;
  background: none;
  border: solid 2px #0FA4AF;
}
#exit:hover{
  background-color: #AFDDE5;
}
#next{
  color: white;
  background-color: #0FA4AF;
  border: none;
}
#next:hover{
  background-color: rgba(15, 164, 175,0.7);
}

@media only screen and (min-width: 480px) and (max-width: 767px){

  .num p{
   text-align: center;
   color: #0FA4AF;
   font-size: 12px;
   margin-top: -2px;
 }
  .num{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: solid 2px #0FA4AF;
    margin-right: 3px;
    position: relative;
  }
  li{
    position: relative;
    margin-left: -1px;
    font-size: 12px;
  }
  .mm{
    display: inline-block;
  width: 100%;

  }
  .oo{
    display: flex;
    padding: 0;
    margin: 0;
  }
  .line{
    margin-top: -8px;
  }
  hr{
    border: 1px solid #0FA4AF ;
  }
}
@media only screen and (max-width: 481px){

  .num p{
   text-align: center;
   color: #0FA4AF;
   font-size: 10px;
   margin-top: -2px;
 }
  .num{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: solid 2px #0FA4AF;
    margin-right: 3px;
    position: relative;
  }
  li{
    position: relative;
    margin-left: -1px;
    font-size: 10px;
  }
  .mm{
    display: inline-block;
  width: 100%;

  }
  .oo{
    display: flex;
    padding: 0;
    margin: 0;
  }
  .line{
    width: 22px;
    margin-top: -8px;
  }
  hr{
    margin-left: -9px;
    width: 22px;
    border: 1px solid #0FA4AF ;
  }
  .buttom_nav button{
    width: 70%;
    height: 45px;

    font-size: 14px;

  }
  #exit{
  margin-left: 38%;
  }

}
@media only screen and (max-width: 360px){
  .num p{
    font-size: 8.9px;

  }
  .num{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: solid 2px #0FA4AF;
    margin-right: 3px;
    position: relative;
  }
  li{
    font-size: 8.9px;
  }
  .line{
    width: 19px;
    margin-top: -10px;
  }
  hr{
    margin-left: -9px;
    width: 19px;
    border: 1px solid #0FA4AF ;
  }
}
