{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/mystaticfiles/fontawesome-free-6.6.0-web/css/all.css">
    <link rel="stylesheet" href="{%static 'index.css' %}">
  <link rel="stylesheet" href="{% static 'footer.css' %}">
  <link rel="stylesheet" href="{% static 'nav.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>

<body>
  <nav>
    <div class="container">
      <div class="nav_links">
        <a href="#">
          <li onclick=showSidebar()> <i class="fa-solid fa-bars" id="btn"></i></li>
        </a>
        <a href="#">
          <li onclick=hideSidebar()> <i class="fa-solid fa-xmark" id="cancel"></i></li>
        </a>
        <div class="gym_logo">
          <img src="{% static 'Mask group3.png' %}" alt="">
        </div>
        <span class="left_nav">
          <a style="color: #AFDDE5;" href="/templates/index.html">
            <li class="hide_on_mobile">Home</li>
          </a>
          <a  href="/templates/membership.html">
            <li class="hide_on_mobile">Membership</li>
          </a>
          <a href="">
            <li class="hide_on_mobile">About us</li>
          </a>
          <a href="">
            <li class="hide_on_mobile">Classes</li>
          </a>
          <!-- <a href="#">
            <li onclick=showSidebar()> <i class="fa-solid fa-bars" id="btn"></i></li>
          </a> -->
        </span>
        <span class="sidebar">
          <!-- <a href="#">
            <li onclick=hideSidebar()> <i class="fa-solid fa-xmark" id="cancel"></i></li>
          </a> -->
          <a style="color: #AFDDE5;" href="/templates/index.html">
            <li>Home</li>
          </a>
          <a href="/templates/membership.html">
            <li>Membership</li>
          </a>
          <a href="">
            <li>About us</li>
          </a>
          <a href="">
            <li>Classes</li>
          </a>

        </span>
        <!-- <div class="login_join">

    </div> -->
        <span class="login_join">
          <span class="login_style">
            <a href="login.html">
              <p>Login</p>
            </a>
          </span>
          <span class="join_style">
            <a class="join" href="joinus_plan.html">
              <p>Join us</p>
            </a>
          </span>
        </span>

      </div>

    </div>

  </nav>

  <!--carousel-->
  <div class="container">
    <div class="swiper">
      <div class="carousel">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="stuff">
              <img src="{% static 'gymsite.jpeg' %}">

            </div>

          </div>

          <div class="swiper-slide">
            <div class="stuff">
              <img src="{% static 'gymesite4.jpeg' %}">

            </div>

          </div>
          <div class="swiper-slide">
            <div class="stuff">
              <img src="{% static 'gymsite12.jpeg' %}">

            </div>

          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>

  </div>
  <!--carousel-->
  <!-- membership plans -->
  <div class="memberships">
    <h1>MEMBERSHIPS</h1>
    <div class="plans">

      <div class="platinium">
        <h6>Platinium</h6>
        <p>Starting at</p>
        <span class="price">
          <p id="naira">₦41,890</p>
          <p>/mo</p>
        </span>

        <p>Gives you access to any branch,unlimited workout classes,and so much more</p>

        <a href="">Learn More</a>
        <a href=""> <button>Sign up</button></a>
      </div>

      <div class="standard">
        <h6>Standard</h6>
        <p>Starting at</p>
        <span class="price2">
          <p id="naira2">₦24,890</p>
          <p>/mo</p>
        </span>

        <p>Unlimited access to your registered branch and one class per month</p>

        <a href="">Learn More</a>
        <a href=""> <button>Sign up</button></a>
      </div>

    </div>
    <div class="plan_description">
      <p>Explore fitness freedom with our standard and premium gym memberships. Our standard membership begins at 24,890
        per month, offering access to your registered branch and one training class monthly. Opt for our premium
        membership starting at 41,000 per month for unlimited access to all branches, a personal trainer, and the
        freedom to attend any training class. Elevate your fitness journey with us today</p>

    </div>

  </div>
  <!-- membership plans -->

  <!-- benefits/perks -->
  <div class="benefits">
    <div class="container">
      <div class="first_benefit benefits_desciption">
        <img src="{% static 'gymsite13.jpeg' %}">
        <div class="perks_exp1">
          <h5>Modern and high quality gym equipment</h5>
          <p>Enjoy unlimited access to high-quality and modern workout equipment with either of our membership options.
            Whether you choose our standard or premium membership, you'll have everything you need to achieve your
            fitness goals. Join us and experience the difference today!</p>
          <a href="">Sign up</a>
        </div>
      </div>

      <div class="second_benefit benefits_desciption">
        <div class="perks_exp2">
          <h5>Discover Our Dynamic Training Classes</h5>
          <p>Engage in our diverse range of training classes designed to elevate your fitness journey. From strength
            training to yoga and everything in between, our expert instructors are here to guide and inspire you.
            Whether you're a beginner or a seasoned athlete, there's a class for everyone. Explore new challenges,
            improve your skills, and achieve your fitness goals with us.</p>
          <a href="">Sign up</a>
        </div>
        <img src="{% static 'gymsite2.jpeg' %}">
      </div>

      <div class="third_benefit benefits_desciption">
        <img src="{% static 'gymsite7.jpeg' %}">
        <div class="perks_exp1">
          <h5>Unlock Exclusive Benefits with Our Premium Membership</h5>
          <p>Experience fitness at its finest with our premium membership, offering unparalleled perks designed to
            elevate your workout regimen. Enjoy unlimited access to all branches, personalized guidance from a dedicated
            personal trainer, and the freedom to attend any of our diverse training classes. Dive into a world of
            comprehensive fitness solutions tailored to meet your goals. Discover more about how our premium membership
            can enhance your fitness journey today.</p>
          <a href="">Sign up</a>
        </div>
      </div>

      <div class="fourth_benefit benefits_desciption">
        <div class="perks_exp2">
          <h5>Join Us Nationwide: Sign Up from Any State</h5>
          <p>No matter where you are in Nigeria, you can join our community of fitness enthusiasts with ease. With
            branches in all 36 states across the country, you're never far from achieving your fitness goals. Sign up
            today and start your journey to a healthier lifestyle with us.</p>
          <a href="">Sign up</a>
        </div>
        <img src="{% static 'gymsite16.jpeg' %}">
      </div>

      <div class="fifth_benefit benefits_desciption">
        <img src="{% static 'gymsite10.jpeg' %}">
        <div class="perks_exp1">
          <h5>Meet Our Expert Personal Trainers</h5>
          <p>Our gym is proud to feature highly educated and professional personal trainers who are dedicated to helping
            you achieve your fitness goals. With their expertise and personalized guidance, you can expect tailored
            workout plans, motivation, and support every step of the way. Whether you're aiming to build strength,
            improve endurance, or enhance flexibility, our trainers are here to inspire and assist you on your fitness
            journey.</p>
          <a href="">Sign up</a>
        </div>
      </div>


    </div>


  </div>
  <!-- benefits/perks -->


  <footer class="footer">
    <div class="container">
      <div class="row footer_top">
      <!-- <div class="footer_contents"> -->

      <div class="col-4">
        <div class="footer_logo">
          <img src="{% static 'Mask group3.png' %}">

        </div>

        <div class="footer_notess">
          <p>"Revive Fitness - Empowering Your Fitness Journey Across Nigeria. Join us in Lagos and beyond to achieve
            strength, health, and wellness with our state-of-the-art facilities and expert trainers. Let's revitalize your
            lifestyle together. © 2024 Revive Fitness. All rights reserved."</p>
        </div>
      </div>
     <div class="col-4"></div>
        <div class="col-2 site_mapss">
          <h5>Site map</h5>
          <p>Home</p>
          <p>Membership</p>
          <p>Classes</p>
          <p>Contact us</p>
          <p>About us</p>

        </div>
        <div class="col-2 open_hourss">
          <h5>Open hours</h5>
          <p>Monday-Friday 5AM-10PM</p>
          <p>Saturday 7AM-8PM</p>
          <p id="closed">Closed Jan 1,Dec 25 & 26</p>
        </div>


      <!-- </div> -->


    </div>



      <div class="row policy">
        <div class="col-7">
        <p>© 2024 I-FITNESS CENTRE LTD. ALL RIGHTS RESERVED.|</p>
        <p>Support|</p>
        <p>Privacy policy|</p>
        <p>terms of use</p>
      </div>
        <!-- <i class="fa fa-car" style="font-size:60px;color:red;"></i>
        <i style="color: red;" class="fa fa-shield fa-rotate-90"></i> -->
        <div class="col-3"></div>
        <div class="col-2">
        <!-- <span class="social_icons"> -->
          <!-- <i class="fa-brands fa-facebook"></i> -->
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-square-x-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-square-github"></i>
        <!-- </span> -->
      </div>
      </div>


    </div>

  </footer>

  <script src="{% static 'nav.js' %}" ></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/0566afcd79.js" crossorigin="anonymous"></script>
  <!-- <script src="https://kit.fontawesome.com/0566afcd79.js" crossorigin="anonymous"></script> -->
  <script src="{% static 'index.js' %}"></script>
</body>

</html>
