<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="">
    <!-- <i onclick="showinput()"  class="fa-solid fa-chevron-down arrow"></i> -->
    <!-- <i class="arrow">&#xf078; </i> -->
    <select id="boy" name="state" class="form-control">
      <option  id="non" class="dropdown-item" href="#">select state </option>
        <option value="Abia" class="dropdown-item" href="#"> Abia</option>
        <option value="Adamawa" class="dropdown-item" href="#">Adamawa</option>
        <option value="Akwa Ibom" class="dropdown-item" href="#">Akwa Ibom</option>
        <option value="Lagos" class="dropdown-item" href="#">Lagos</option>
        <option value="Edo" class="dropdown-item" href="#">Edo</option>
        <option value="Osun" class="dropdown-item" href="#">Osun</option>
        <option value="Niger" class="dropdown-item" href="#">Niger</option>
        <option value="Ondo" class="dropdown-item" href="#">Ondo</option>
        <option value="Plateau" class="dropdown-item" href="#">Plateau</option>
        <option value="Abuja" class="dropdown-item" href="#">Abuja</option>
        <option value="Ogun" class="dropdown-item" href="#">Ogun</option>
    </select>
  </form>
  <input style="outline: 1px solid red;" type="checkbox">
</body>
</html>
