<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="set_password" id="login_box">
    <div>
      <div class="login_box">
      <div class="logo">
        <img src="/mystaticfiles/teenyicons_lock-circle-solid.png" alt="">
      </div>
      <h5>Set Password</h5>
      <form action="">
        <input type="email" placeholder="Email">
        <br>
        <input type="password" name="" id="" placeholder="Password">
        <br>
        <button type="submit" class=" " id="signin_button">Signin</button>
      </form>


    </div>
    </div>
  </div>
</body>
</html>
