{% extends "base.html" %}
{% block content %}
{% load static %}

  <link rel="stylesheet" href="{% static 'joinus_personaldetails.css'%}">


  {% block nav %}

  {% endblock %}

    <div class="container-fluid form_box">
      <h3>Enter your personal info</h3>
      <h5>Tell us a little bit about yourself to get started.</h5>
      <form class="needs-validation" method="post" action="{% url 'personaldetails_view' %}" novalidate>
        {%csrf_token%}
        <div class="details">
          <p>Personal Details</p>

          <fieldset>
            <input class="form-control " type="text" placeholder="First name" name="fname"  required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
          <fieldset>
            <input class="form-control" type="text" placeholder="Last name" name="lname" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
          <fieldset>
            <input class="form-control" type="text" name="date_of_birth" placeholder="Date of birth" onfocus="this.type='date'" onblur="this.type='text'" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
          <fieldset>
            <input class="form-control" type="number" name="phone_number" placeholder="phone number" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
          <fieldset>
            <input class="form-control" type="email" name="email" placeholder="Email" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
            <select class="form-select" name="gender" required>
              <option selected hidden disabled id="gender">gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>

            </select>
            <div class="invalid-feedback">
              This field is required
            </div>


        </div>
        <div class="Address_Branch">
          <p>Address/Branch</p>
          <fieldset>
            <input class="form-control" type="text" name="address" placeholder="Address line" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>
          <fieldset>
            <input class="form-control" type="text" placeholder="City" name="city" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>

          <p id="dim">input the state you are currently located at</p>
          <fieldset>
            <input class="form-control" type="text" name="state" placeholder="state" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </fieldset>


        </div>

        <p id="dim">Note that the state that you inputed will be used as the branch of the gym</p>
        <div class="note_checkbox">
          <input id="jjj" type="checkbox" checked>
          <p>To stay updated on your membership, branch news, and special offers at Revive Fitness, please check the box
            beside this text to opt in for occasional emails and notifications. This will ensure you receive the latest
            updates directly in your inbox.</p>

        </div>


          <div class="row buttom_nav">
            <div class="col-5">
              <a href=""><button type="submit" id="exit">exit</button></a>
            </div>
          <div class="col-2"></div>
          <div class="col-5">
            <a href=""><button type="submit" id="next">next</button></a>
          </div>

        </div>
      </form>
    </div>














{% endblock %}

