{% extends "base.html" %}
{% block content %}
{% load static %}

  <link rel="stylesheet" href="{% static 'join_plan.css'%}">

  <script
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
  {% block nav %}

  {% endblock %}



<div class="top_header">
  <h3>Select {{selected_plan}} plan duration</h3>

  <a id="change_plan" href="#">change plan <i class="fa-solid fa-chevron-down" id="arrowIcon"></i></a>
  <div class="select_plan">
    <label for="platinum_plan">
      <input onclick="window.location.reload()" id="platinum_plan" type="radio" name="plan" value="{{platinum_plan.id}}">
      <div class="plan_drop_down enlarge_on_hover">{{platinum_plan.plan_name}}</div>
    </label>
    <label for="standard_plan">
      <input onclick="window.location.reload()" id="standard_plan" type="radio" name="plan" value="{{standard_plan.id}}">
      <div class="plan_drop_down enlarge_on_hover">{{standard_plan.plan_name}}</div>
    </label>
  </div>
</div>
<div class="contents">

  <!-- <p id="selectedplanDisplay">Not selected</p> -->




  <div class="plans_duration">
    {% if selected_plan == 'platinum' %}
    <div class="duration monthly">
     <h4>Monthly <br>plan</h4>
     <p>Monthly <br> subscription</p>
     <p>₦{{duration_cost.platinum_monthly}}</p>
     <label for="monthly_plan">
       <input id="monthly_plan" type="radio" name="duration" value="monthly">
       <span type="button" id="select_but" class="enlarge_on_hover">select</span>
      </label>
     <p id="all_perks">Conatains all <a href="">perks</a> of {{platinum_plan.plan_name}} membership</p>
    </div>
    <div class="duration quaterly">
     <h4>Quaterly <br>plan</h4>
     <p>Quaterly <br> subscription</p>
     <p>₦{{duration_cost.platinum_quterly}}</p>
     <label for="quaterly_plan">
       <input id="quaterly_plan" type="radio" name="duration" value="quarterly">
       <span type="button" id="select_but" class="enlarge_on_hover">select</span>
      </label>
     <p id="all_perks">Conatains all <a href="">perks</a> of {{platinum_plan.plan_name}} membership</p>
    </div>

    <div class="duration yearly">
     <h4>Yearly <br>plan</h4>
     <p>Yearly <br> subscription</p>
     <p>₦{{duration_cost.platinum_yearly}}</p>
     <label for="yearly_plan">
       <input id="yearly_plan" type="radio" name="duration" value="yearly">
       <span type="button" id="select_but" class="enlarge_on_hover">select</span>
      </label>
     <p id="all_perks">Conatains all <a href="">perks</a> of {{platinum_plan.plan_name}} membership</p>
    </div>
    {% else %}
    <div class="duration monthly">
      <h4>Monthly <br>plan</h4>
      <p>Monthly <br> subscription</p>
      <p>₦{{duration_cost.standard_monthly}}</p>
      <label for="monthly_plan">
        <input id="monthly_plan" type="radio" name="duration" value="monthly">
        <span type="button" id="select_but" class="enlarge_on_hover">select</span>
       </label>
      <p id="all_perks">Conatains all <a href="">perks</a> of {{standard_plan.plan_name}} membership</p>
     </div>
     <div class="duration quaterly">
      <h4>Quaterly <br>plan</h4>
      <p>Quaterly <br> subscription</p>
      <p>₦{{duration_cost.standard_quterly}} </p>
      <label for="quaterly_plan">
        <input id="quaterly_plan" type="radio" name="duration" value="quarterly">
        <span type="button" id="select_but" class="enlarge_on_hover">select</span>
       </label>
      <p id="all_perks">Conatains all <a href="">perks</a> of {{standard_plan.plan_name}} membership</p>
     </div>

     <div class="duration yearly">
      <h4>Yearly <br>plan</h4>
      <p>Yearly <br> subscription</p>
      <p>₦{{duration_cost.standard_yearly}} </p>
      <label for="yearly_plan">
        <input id="yearly_plan" type="radio" name="duration" value="yearly">
        <span type="button" id="select_but" class="enlarge_on_hover">select</span>
       </label>
      <p id="all_perks">Conatains all <a href="">perks</a> of {{standard_plan.plan_name}} membership</p>
     </div>
    {% endif %}
    </div>


<div class="classes">
  <p >Select classes</p>
  <p>*You can only select 1 class</p>
  <div class="kkk">
    {% for name in classes %}
  <label>
    <input id="class1" type="radio" name="clas" value="{{name.id}}">
    <div  id="class_but" class="enlarge_on_hover">{{name.class_name}}</div>
   </label>
{% endfor %}

  </div>
</div>

    <div class="row buttom_nav">
     <div class="col-5">
       <a href=""><button id="exit">exit</button></a>
     </div>
   <div class="col-2"></div>
   <div class="col-5">
     <a href="{% url 'personaldetails_view' %}"><button id="next">next</button></a>
   </div>

 </div>
 </div>







<script src="{% static 'temporary_storage.js' %}"></script>





  {% endblock %}

