{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'login.css' %}">
{% block nav %}
{% endblock %}
<main>


  <div class="container">
    <div class="row">
      <div class="login_box">
        <div class="logo">
          <!-- <img src="/mystaticfiles/WhatsApp_Image_2024-07-18_at_01.13.43-removebg-preview.png" alt=""> -->
          <img
            src="https://res.cloudinary.com/dtqdaogbn/image/upload/v1727024397/revive%20fitness/hoedsyclbfhwsdklx3hi.png"
            alt="">
        </div>
        <h5>Signin to your account</h5>
        <form action="{% url 'login_view' %}" method="POST">
          {% csrf_token %}
          <input type="email" placeholder="Email" name="email" >
          <!-- <br> -->
          <a id="no_pass" href="">Forgot password?</a>
          <!-- <br> -->
          <input type="password" id="" placeholder="Password" name="password">
          <br>
          <button type="submit" class=" " id="signin_button">Signin</button>
        </form>

        <div class="no_acc">
          <p>Dont have an account?</p><a href="">Join us</a>
        </div>

        <!-- <br> -->
        <!-- <br> -->
        <div class="row dowm-nav">
          <div class="col-sm  col-lg-2 ">
            <a href="">
              <li>Terms</li>
            </a>
          </div>
          <div class="col-sm col-lg-2 ">
            <a href="">
              <li>Support</li>
            </a>
          </div>
          <div class="col-sm col-lg-3  logo2">
            <img
              src="https://res.cloudinary.com/dtqdaogbn/image/upload/v1727025804/revive%20fitness/sfl5noczhq1zeqlibs9g.png">
          </div>
          <div class="col-sm col-lg-3 ">
            <a href="">
              <li>Privacy policy</li>
            </a>
          </div>
          <div class="col-sm col-lg-2 ">
            <a href="">
              <li>Contact</li>
            </a>
          </div>
        </div>
        <!-- <ul>
 <a href=""><li>Terms</li></a>
 <a href=""><li>Support</li></a>
 <a href=""><li>Privacy policy</li></a>
 <a href=""><li>Contact</li></a>
</ul> -->
      </div>
    </div>
  </div>
</main>
{% block footer %}
{% endblock %}
{% endblock %}
