{% extends "base.html" %}
{% block content %}
{% load static %}

  <link rel="stylesheet" href="{% static 'membership.css' %}">


  <main>
    <div class="container">
      <div class="top_text">
        <h1>MEMEBERSHIPS</h1>
        <h5>Select the right gym membership for you.</h5>
        <p>Explore our membership options tailored to suit your fitness needs, whether you prefer access to top-notch
          facilities with a monthly training class or unlimited nationwide access with personalized training sessions
          and
          unrestricted participation in all classes. Choose the membership that fits your lifestyle and goals and embark
          on
          your fitness journey with us today!</p>

        <h3>MEMBERSHIP BENEFITS</h3>

      </div>


      <table>
        <colgroup>
          <col style="background-color: #024950; ">
          <col style="background-color: #003135;">
          <col style="background-color: #0FA4AF;">
        </colgroup>

        <tr>
          <th></th>
          <th>
            <h5>Platinium</h5>
            <p>Explore our price ranges</p>
            <a href=""> <button id="platinium_button">Sign up</button></a>
          </th>
          <th>
            <h5>Standard</h5>
            <p>Explore our price ranges</p>
            <a href=""> <button id="standard_button">Sign up</button></a>
          </th>

        </tr>

        <tr>
          <td>
            <p>Unlimited Access to Home Club</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td><i class="fa-solid fa-check"></i></td>
        </tr>

        <tr>
          <td>
            <p>Training classees per month</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td><i class="fa-solid fa-check"></i></td>
        </tr>

        <tr>
          <td>
            <p>Unlimited access to training equipment</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td><i class="fa-solid fa-check"></i></td>
        </tr>

        <tr>
          <td>
            <p>Personal trainer</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>Use of any branch nation wide</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>option to choose any training class, at any time</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p>50% off all drinks</p>
          </td>
          <td><i class="fa-solid fa-check"></i></td>
          <td></td>
        </tr>
        <!-- <tr>
      <td>Unlimited access to training equipment</td>
      <td><i class="fa-solid fa-check"></i></td>
    </tr> -->
      </table>

    </div>
  </main>


  {% endblock %}
