{% extends "base.html" %}
{% block content %}
{% load static %}

  <link rel="stylesheet" href="{% static 'profile.css' %}">
  {% block join_nav %}
{% endblock %}



<main class="container">
  <div class="all_info">
  <h4>My profile</h4>
  <div class="basic_info">
    <div class="profile_pic">
      <img src="/mystaticfiles/pexels-julia-larson-6456172.jpg" alt="">
    </div>
    <div class="basic_info_text">
      <p id="name">John doe</p>
      <p><strong>current plan: </strong> Platinum</p>
      <p><strong>current Class: </strong> Boxing</p>
      <p id="location"> lagos ,Nigeria</p>
    </div>

  </div>

  <div class="perosnal_info">
    <div class="row">
      <div class="col">
    <h5>Perosnal Information</h5>
  </div>
  <div class="col">
    <button id="edit_info">Edit <i class="iconamoon--edit-light "></i> </button>
  </div>
</div>
    <dl class="row perosnal_info_row_1">
      <div class="col">
        <dt>Frst Name</dt>
        <dd>John</dd>
      </div>
      <div class="col">
        <dt>Last Name</dt>
        <dd>Doe</dd>
      </div>
      <div class="col">
        <dt>Date Of Birth</dt>
        <dd>10-2-2007</dd>
      </div>
    </dl>
    <!-- <br> -->
    <dl class="row perosnal_info_row_2">
      <div class="col">
        <dt>Email</dt>
        <dd>hamidbabawale@gmail.com</dd>
      </div>
      <div class="col">
        <dt>Gender</dt>
        <dd>Male</dd>
      </div>
      <div class="col">
        <dt>Phone Number</dt>
        <dd>09160569114</dd>
      </div>
    </dl>
  </div>

  <div class="address_info">
    <div class="row">
      <div class="col">
    <h5>Address</h5>
  </div>
  <div class="col">
    <button id="edit_info">Edit <i class="iconamoon--edit-light "></i> </button>
  </div>
</div>
    <dl class="row address_info_row_1">
      <div class="col">
        <dt>Country</dt>
        <dd>Nigeria</dd>
      </div>
      <div class="col">
        <dt>State</dt>
        <dd>Lagos</dd>
      </div>
      <div class="col">
        <dt>City</dt>
        <dd>Lagos</dd>
      </div>
    </dl>
    <!-- <br> -->
    <dl class="row address_info_row_2">
      <div class="col">
        <dt>Address Line</dt>
        <dd>30 ogunlana drive</dd>
      </div>

    </dl>
  </div>

  <div class="plan_info">
    <h5>Plan</h5>


    <dl class="row address_info_row_1">
      <div class="col">
        <dt>Current Plan</dt>
        <dd>Platinum</dd>
      </div>
      <div class="col">
        <dt>Registration Date</dt>
        <dd>10-2-2007</dd>
      </div>
      <div class="col">
        <dt>Expiring Date</dt>
        <dd>10-2-2007</dd>
      </div>
    </dl>

    <div class="row mem">
      <div class="col">
        <div class="upgrade_membership">
          <p>Upgrade Membership <i id="iconify" class="material-symbols--upgrade"></i> </p>
        </div>
      </div>
      <div class="col go"></div>
      <div class="col">
        <div class="terminate_membership">
          <p>Terminate Membership <i id="iconify" class="material-symbols--cancel"></i> </p>
        </div>
      </div>
    </div>
    <!-- <br> -->
  </div>

<h4>Account History</h4>
<div class="account_history">
<table class="acc_table">


<tr class="row">
<th class="col-3">Plan</th>
<th class="col-3">Class</th>
<th class="col-3">Price</th>
<th class="col-3">Duration</th>
</tr>

<tr class="row">
<td class="col-3">Platinum</td>
<td class="col-3">MMA</td>
<td class="col-3">40,000</td>
<td class="col-3">1-10-2024 to 1-11-2024</td>
</tr>

<tr class="row">
<td class="col-3">Platinum</td>
<td class="col-3">Boxing</td>
<td class="col-3">40,000</td>
<td class="col-3">1-10-2024 to 1-11-2024</td>
</tr>

<tr class="row">
  <td class="col-3">Platinum</td>
  <td class="col-3">Muay thai</td>
  <td class="col-3">40,000</td>
  <td class="col-3">1-10-2024 to 1-11-2024</td>

  </tr>

</table>
</div>
</div>
</main>




  <script src="{% static 'index.js'%}"></script>

  {% endblock %}





