{% extends "base.html" %}
{% block content %}
{% load static %}

  <link rel="stylesheet" href="{% static 'login.css' %}">

  {% block nav %}

  {% endblock %}

<main class="container">
  <div class="set_password" id="login_box">

      <div class="login_boxx">
      <div class="logo">
        <img src="https://res.cloudinary.com/dtqdaogbn/image/upload/v1727026017/revive%20fitness/sgsotpzsegxq0ucjqacx.png" alt="">
      </div>
      <h5>Set Password</h5>
      <form action="">
        <input type="password" placeholder="Password">
        <br>
        <input type="password" name="" id="" placeholder="Confirm Password">
        <br>
        <button type="submit" class=" " id="signin_buttonn">Finish</button>
      </form>

       <br>
       <br>
       <div class="row dowm-nav">
        <div class="col-sm  col-lg-2 ">
        <a href=""><li>Terms</li></a>
      </div>
      <div class="col-sm col-lg-2 ">
        <a href=""><li>Support</li></a>
      </div>
      <div class="col-sm col-lg-3  logo2">
        <img src="https://res.cloudinary.com/dtqdaogbn/image/upload/v1727025804/revive%20fitness/sfl5noczhq1zeqlibs9g.png">
      </div>
      <div class="col-sm col-lg-3 ">
        <a href=""><li>Privacy policy</li></a>
      </div>
      <div class="col-sm col-lg-2 ">
        <a href=""><li>Contact</li></a>
      </div>
      </div>
    </div>
  </div>
</main>

{% block footer %}

{% endblock %}

{% endblock %}
