{% extends "base.html" %}
{% block content %}
{% load static %}

  <link rel="stylesheet" href="{% static 'success.css' %}">

  {% block nav %}

  {% endblock %}
  <main class="container">

    <div class="row back">
      <div class="col"> <a href="#"><i class="fa-solid fa-chevron-left"></i> Home</a></div>
    </div>

    <div class="container-fluid success_box">
      <h3>Success!</h3>
      <p>Welcome to Revive Fitness!</p>
      <div class="check_img"> <img src="https://res.cloudinary.com/dtqdaogbn/image/upload/v1727024397/revive%20fitness/xaf9dvqghwskwfcnix0e.png" alt=""></div>
      <p>Your registration is complete, and you're all set to start your fitness journey with us. 🎉</p>
      <p>We’re excited to have you on board. Your account is now active, and you can begin exploring our classes and
        facilities.</p>
      <a href="#">view profile</a>
    </div>


  </main>


{% endblock %}
